*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.dashboardPage{
    width: 100%;
    min-height: 100vh;
    background-color: #efebe9;
    padding:  100px 20px ;
}
.tagDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.tag{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    background-color: #795548;
    border-radius: 30px;
    box-shadow: 0px 0px 4px black;
}
.tag p{
    font-size: 15px;
    color: rgb(255, 255, 255);
}
.dashHeading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.headingPart{
  display: flex;
  flex-direction: column;
}
.dashHeading h1{
    font-size: 40px;
    color: rgb(32, 32, 32);
}
.dashHeading h4{
    color: rgb(68, 68, 68);
}
.trip-link {
  text-decoration: none;
  color: inherit;
}
.tripList{
   display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.no-trips {
  text-align: center;
  margin: 2rem 0;
  font-size: 1.2rem;
  color: #666;
}

.dashboardData{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid gray;
}
.dashdataBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 250px;
    height: 80px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.59);
    background-color: white;
}
.totalTrip h2{
    color: rgb(56, 1, 138);
}
.totalBalance h2{
    color: green;
}
.totalExpenses h2{
   color: rgb(255, 94, 0);
}
.tripHeading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin: 40px 0px;
    color: rgb(255, 255, 255);
    padding: 30px 0px;
    width: 100%;
    background-color:#4e342e;
}
.tripHeading h4{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.73);
}
.createTripbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.createTripbtn button{
    display: flex;
    gap: 6px;
    padding: 15px 20px;
    background-color: #9B1357;
    border-radius: 8px;
    color: white;
    border: 2px solid transparent;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all ease-in 150ms;
}
.createTripbtn button .span3{
    display: none;
}
.createTripbtn button:hover{
    background-color: white;
    color: #9B1357;
    border: 2px solid #9B1357;
}
@media(max-width:600px){
    .dashboardPage{
        padding: 80px 25px;
    }
    .dashHeading{
        flex-direction: column;
        gap: 15px;
    }
    .headingPart{
        align-items: center;
    }
    .dashboardData{
        width: 100%;
        flex-direction: column;
        gap: 25px;
    }
    .dashdataBox{
        width: 100%;
        
    }
    .createTripbtn{
        position: fixed;
        bottom: 50px;
        right: 20px;
        box-shadow: 0px 0px 5px black;
    }
    .createTripbtn button .span3{
        display: flex;
        font-size: 15px;
        font-weight: bold;
    }
    .createTripbtn button{
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        padding: 13px 18px;
    }
    .createTripbtn button span{
        font-size: 25px;
    }
    .createTripbtn button .span2{
        display: none;
    }
    .tripList{
        gap: 12px;
    }
    .trip-link{
        width: 48%;
    }
}