.loader {
  border: 4px solid #f3f3f3; /* Light gray background */
  border-top: 4px solid #3498db; /* Blue spinner part */
  border-right: 4px solid #3498db;
  border-radius: 50%;
  width: 35px;   /* size */
  height: 35px;  /* size */
  margin: auto;
   background: conic-gradient(
    #3498db 0deg,
    #3498db var(--angle, 30deg),
    transparent var(--angle, 30deg)
  );
  -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 6px), #000 0);
  mask: radial-gradient(farthest-side, transparent calc(100% - 6px), #000 0);
  animation: borderSweep 1.6s infinite;
}

@keyframes borderSweep {
  0%   { --angle: 20deg; }
  20%  { --angle: 280deg; }   /* sudden fast extend */
  70%  { --angle: 60deg; }    /* slow compress */
  100% { --angle: 20deg; }    /* reset */
}

@media(max-width:600px){
  .loader {
    width: 25px;  
    height: 25px; 
  }
}