*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.notiPerbtn{
   padding: 7px 20px;
   background-color: #fed6d4;
   border: 1px solid transparent;
   font-weight: bold;
   color: black;
   border-radius: 7px;
}