*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cardCont{
    width: 300px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.649);
    position: relative;
}
.tripDate1{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 4px;
    padding: 2px 5px;
    border-radius: 5px;
    backdrop-filter: blur(15px);
}
.tripDate1 p{
  font-size: 13px;
  color: white;
}
.imageBox{
    width: 100%;
    overflow: hidden;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageBox img{
   width: 300px;
   transition: all ease-in 300ms;
}
.imageBox img:hover{
    transform: scale(1.09);
}
.dataCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 18px;
}
.tripTitle{
    color: rgb(141, 67, 32);
}
.moneyData{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.moneyData div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.moneyData div .bl1{
  color: rgb(67, 67, 67);
}
.moneyData div .bl{
  color: green;
}
.moneyData div .sp1{
  color:rgb(67, 67, 67); ;
}
.moneyData div .sp{
  color: red;
}
.memberBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.memberBtn div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.memberBtn div span{
  font-size: small;
  color: rgb(92, 92, 92);
}
.memberBtn button{
    padding: 8px 10px;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.681);
    background-color: rgb(1, 141, 196);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 768px) {
  .cardCont {
    width: 100%; 
    border-radius: 5px;
  }
  .imageBox{
    height: auto;
  }

  .imageBox img {
    width: 100%; 
    height: auto;
  }
  .tripDate1{
    top: 6px;
    right: 7px;
    padding-right: 6px;
    padding-bottom: 3px;
  }
  .tripDate1 p{
    font-size: 9px;
  }
  .dataCont {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 8px;
    gap: 5px;
     align-items: center;
  }
  .moneyData{
    display:none;
  }
  .memberBtn{
    width: 100%;
    flex-direction: column;
  }
  .memberBtn div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .memberBtn div span{
    font-size: 12px;
  }
  .memberBtn div img{
    width: 20px;
  }
  .memberBtn button {
    display: none;
  }
}


